<div>
  <data-table id="usersTable"
              headerTitle="Personel "
              [items]="items"
              [itemCount]="itemCount"
              [pagination]="false"
              (reload)="reloadItems($event)"
              [indexColumn]="false"
  >
    <data-table-column
      [property]="'id'"
      [header]="'ID'">
    </data-table-column>
    <data-table-column
      [property]="'firstName'"
      [header]="'Imię'">
    </data-table-column>
    <data-table-column
      [property]="'lastName'"
      [header]="'Nazwisko'"
      [sortable]=true>
    </data-table-column>
    <data-table-column
      [property]="'realWorkingHours'"
      [header]="'Rzeczywisty czas pracy [h]'"
      [sortable]=true>
    </data-table-column>
    <data-table-column
      [property]="'absencesHours'"
      [header]="'Nieobecności + początkowe wartości nadgodzin [h]'"
      [sortable]=true>
    </data-table-column>
    <data-table-column
      [property]="'overtimeHours'"
      [header]="'Nadgodziny'"
      [sortable]=true>
    </data-table-column>

  </data-table>
</div>
