<div style="margin-top: 50px; max-width: 1000px; margin-bottom: 50px;">
  <data-table id="ratingsTable"
              headerTitle="Uprawnienia"
              [items]="items"
              [itemCount]="itemCount"
              (reload)="reloadItems($event)"
              [pagination]="false"

  >
    <data-table-column
      [property]="'name'"
      [header]="'Nazwa'"
      [sortable]="false"
      [resizable]="false">
    </data-table-column>
    <data-table-column
      [property]="'releaseDate'"
      [header]="'Data wydania'">
    </data-table-column>
    <data-table-column
      property="legalBasis"
      header="Podstawa"
      width="400px">
    </data-table-column>
  </data-table>
</div>
