html {
  height: 100%;
  background: url(../../../assets/homebackground3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centered {
  display: flex;
  justify-content: space-between;
}

.image64 {
  width: 99px;
  height: 99px;
  margin : 0px 20px 20px 20px;
}
.text64 {
  width: 99px;
  margin : 0px 20px 20px 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.underNavbar {
  padding-top: 100px;
}

.jumbotron {
  padding-top: 32px;
  padding-bottom: 32px;
}

.persData {
  color: #1f37b8;
  font-weight: bold;
  font-size: large;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
