<div>
  <p style="font-size: 22px;"> Uprawnienia Językowe </p>
  <table style="font-size: 18px;"
         datatable id="ratingsTable"
  >
    <tr>
      <ion-slides>
        <ion-slide>
          <th>Rodzaj</th>
          <th>Poziom</th>
          <th>Ważne do</th>
    <tr *ngFor="let item of itemResource" (click)="rowClick(item.id)">
      <td>{{ item.language }}</td>
      <td>{{ item.level }}</td>
      <td>{{ item.expireDate | date:'dd/MM/yyyy'}}</td>
    </tr>
    </ion-slide>
    <ion-slide>
      <th>Podstawa</th>
      <tr *ngFor="let person of itemResource">
        <td>{{ person.legalBasis }}</td>
      </tr>
    </ion-slide>
    </ion-slides>
    </tr>
  </table>
</div>
